
.title{
    font-family: 'Times New Roman', Times, serif;
    color: #050505;
    text-align: center;
    margin-bottom: 0em;
 
}
.title1{
    font-family: 'Times New Roman', Times, serif;
    color: #3b3b3b;
    text-align: center;
    font-style: italic;
    
   
}

.myTextarea{
 height: 200px;
}

.nav{
    border-radius: 10px;
    background-color: white;
    padding: 3px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
.tabContainer{
    width: 100%;
    height: 350px;
   
    
}
.tabContainer .buttonContainer{
    height: 15%;
   
    
}
.tabContainer .buttonContainer button{
    width: 50%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 12px;
    font-family: sans-serif;
    font-size: 18px;
    background-color: rgb(87, 87, 87);
    border-radius: 10px;
  
  
}
.tabContainer .buttonContainer button:hover{
    background-color: #353333;
}
.tabContainer .tabPanel{
    height: auto;
    background-color: rgb(236, 236, 236);
    /* color: white; */
    text-align: center; 
    padding: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
    border-radius: 10px;
    overflow-x: hidden;  
}
.textarea {
    background-color: #dddddd;
    color: #000000FF;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    width: 50%;
    height: 200px;
    margin-top: 10px;
    transition: all 0.2s;
    display: block;
  }

  .input {
    background-color: rgb(255, 255, 255);
    color: #666666;
    padding: 8px;
   margin-right: 100%;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 1;
    width: 50%;
    height: 15px;
    transition: all 0.2s;
  }
  .input2{
    background-color: rgb(255, 255, 255);
    color: #666666;
    
    padding: 8px;
    margin-right:50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 1;
    width: 35%;
 
    transition: all 0.2s;
  }
  .submit{
      background-color: #d6d6d6;
      border-radius: 10px;
      margin-left: 90%;
      height: 30px;
      width: 70px;
      
  }
  .input:hover {
    cursor: pointer;
    background-color: #636363;
  }
  .submit:hover {
    cursor: pointer;
    background-color: #f1f1f1;
  }
  .input:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
  }

  .textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
  }
  
  .textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
   
  }

.richtext {
   
max-width: 1000px;
margin: auto;
}
.default {
    height: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    font-family: sans-serif;
    background: #eeeeee;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 10px;
    width: 50%;
    resize: none;
}
.acions {
    margin: 20px 0;
}
#editor {
max-height: 70vh;
overflow-y: auto; 

}
#counter {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 13px;
    font-weight: normal;
    font-family: sans-serif;
}
.example_c {
	color: #494949 !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 2px;
	border: 4px solid #494949 !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
  border-radius: 10px;
}

.example_c:hover {
	color: #ffffff !important;
	background: #2b2a2a;
	border-color: #838383 !important;
	transition: all 0.4s ease 0s;
}


.intLink { cursor: pointer;  height:20px;
  width:20px;
  padding:5px;
  margin-right:4px; }
  img.intLink { 
  border: 1px solid black;
}
#toolBar1
{  
  padding:10px;
}
select
{
  font-size:80%;
}
#toolBar2
{
 
  padding:10px;
}
#textBox {
  width: 85%;
 
  border: 3px double rgb(87, 87, 87);
  padding: 20px;
  font-weight: normal;
  font-style:normal;
  margin-left: auto;
  margin-right: auto;

  min-height: 280px;
  border-radius: 10px;
}
.box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 15px #000;
  padding: 30px;
  width: 10w;
  text-align: start;
  
} 

.textmore-hidden-content{
	display: none;
	padding-bottom: 20px;
}
.textmore-toggle.is-open::before {
    content: attr(data-open_text);
    display: inline-block;
    font-size: 16px;
}
.textmore-toggle.is-open {
    font-size: 0;
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.btmpost {
  padding-top: 5px;
 display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}
